/*   FILE : blog_page.css
       @IT Lecturer: Thay Vu Duy Linh
       Craetor : Chau Thai - B2005731, thaib2005731@student.ctu.edu.vn
       @Created : 16 - Nov - 2022  
*/
/* setting default */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&family=Poiret+One&display=swap");
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
:root{
  --mauvang:#E5BF4A;
  --mauden :#0A0A0A;
  --mauxam: #4c4c4c;
  --fontJost: "Jost", sans-serif;
  --fontPoiret: "Poiret One";
}
html{
  font-family: var(--fontJost);
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  background: var(--mauden);
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--fontPoiret);
}
a{text-decoration: none;}
/* end setting default */
section#page{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  height: 100vh;
  grid-template-rows: repeat(3,auto);
}
#page > .page__header{
  grid-area: header;
  display: flex;
  flex-flow: column wrap;
}
.page__header > .header__banner{
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-between;
  align-items: center;
  height: 112px;
  padding: 30px 20px 10px;
  margin-left: 50px;
  margin-right: 50px;
}
.header__banner > .banner__social-icon{
  display: flex;
  flex-flow: row nowrap;
}
.banner__social-icon > .icon__link{
  padding-right: 20px;
  text-align: left;
  color: #fff;
}
.banner__social-icon > .icon__link > i{
  transition: all 0.4s ease 0s;
}
.banner__social-icon > .icon__link:hover > i{
  transform: rotateY(180deg);
  color: var(--mauvang);
}
.header__banner > .banner__logo{
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  /* padding-left: 100px; */
}
.header__banner > .banner__logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__banner > .banner__info{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header__banner .banner__info > a{
  margin-right: 30px;
}
.header__banner > .banner__info > div:not(:last-child){
  margin-right: 30px;
}
.banner__info  i{
  color: #fff;
  transition: all 0.3s ease-in-out 0s;
}
.banner__info .shopping__cart{
  position: relative;
}
.shopping__cart p{
  position: absolute;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  padding: 3px 8px;
  top: -17px;
  left: 12px;
  z-index: 999;
  border-radius: 50%;
  border: 1px solid #FFF;
  background-color: #0A0A0A;
  transition: all 0.5s ;
}
.banner__info a:hover i{
  color: var(--mauvang);
  transform: scale(1.3);
}
.header__form-search {
  margin: 0px auto !important;
  padding-left: 50px;
}
.header__form-search  form {
  display: flex;
  visibility: hidden;
  margin-bottom: -31px;
} 
.header__form-search  form input{
  padding: 6px 5px;
  width: 700px !important;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
}
.header__form-search  form button{
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  background-color: transparent;
  color: var(--mauvang);
  font-family: var(--fontJost);
  border-radius: 10px;
  border: 1px solid var(--mauvang);
}
.header__form-search  form button:hover {
  background-color: var(--mauvang);
  color: #fff;
}
.show__search-form{
  visibility: visible !important;
  margin-bottom: 50px !important;
}

/* header navigation display on PC */
.page__header > .header__nav{
  height: 87px;
}
.header__nav > .header__nav--pc{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__nav--pc > .nav__link {
  padding: 32px 7px;
  font-size: 15px;
  line-height: 22.5px;
  text-transform: uppercase;
  color: #fff;
  margin: 0px 14px !important;
  position: relative;
}
.header__nav--pc > .blog__dropdown {
  position: relative;
}
.header__nav--pc > .nav__link::after,
.header__nav--pc > .blog__dropdown::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0%;
  left: 0%;
  bottom: 20px;
  background-color: var(--mauvang);
  transition: all 0.3s ease-in-out 0s;
}
.header__nav--pc > .nav__link:hover {
  color: var(--mauvang);
}
.header__nav--pc > .nav__link:hover::after,
.header__nav--pc > .blog__dropdown:hover::after {
  width: 100%;
}
/* END NAVIGATION PC */
.page__header .header__nav .header__nav--respon{
  height: 54px;
  background-color: var(--mauxam);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 20px;
  position: relative;
}
.header__nav--respon .menu__btn{
  padding: 10px;
  background-color: #222;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgb(255 255 255 / 75%);
  cursor: pointer;
}
.menu__btn span {
  line-height: 1.188em;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 1px 3px #000;
}
.menu__btn i {
  line-height: 1.188em;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 1px 3px #000;
}
.menu__dropdown {
  position: absolute;
  left: 0px;
  top: 54px;
  padding: 10px 20px;
  display: flex;
  width: 100%;
  overflow: hidden;
  z-index: 9999;
  opacity: 1;
  flex-direction: column;
  background-color: var(--mauxam);
  display: none;
  visibility: hidden;
}
.menu__dropdown .dropdown__link{
  display: block;
  padding: 10px ;
  color: #fff;
  border-radius: 5px;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}
.dropdown__link:hover {
  background-color: gray;
  color: var(--mauvang);
}
.show__menu{
  display: block;
  visibility: visible;
}
/* MAIN EREA */
#page > .page__main{
  grid-area: main;
  display: grid;
  grid-template-rows: repeat(7,auto); 
}
/* SLIDE SECTION */
.page__main>.slide__section {
  display: flex;
  height: 300px;
  background: url("../img/icon/slider-banner.webp");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  align-items: center;
}

.slide__section>.slide__caption {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1100px;
}
.slide__caption .slide__title{
  font-size: 70px;
  line-height: 82px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 40px;
}
.slide__caption .slide__btn{
  outline: none;
  color: #000;
  border: 1px solid black;
  background-color: var(--mauvang);
  font-family: var(--fontJost);
  font-size: 15px;
  line-height: 15px;
  padding: 22px 41px;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.4s ease-in-out 0s;
  border-radius: 10px;
}
.slide__caption .slide__btn:hover{
  border: 1px solid var(--mauvang);
  background-color: transparent;
  color: var(--mauvang);
}
/* MAIN CONTAINER GROUP */
.container {
  max-width: 1140px;
  margin: auto;
}

.blog__main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 120px 0px;
  column-gap: 30px;
}

.blog__left-content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  row-gap: 50px;
}

.blog__card-item {
  display: flex;
  flex-flow: column nowrap;
}

.blog__card-item>.card__body {
  box-shadow: #dddddd 0px 10px 20px 0px;
  color: #212529;
  line-height: 24px;
  padding: 60px 30px 35px 35px;
}

.card__body {
  position: relative;
}

.blog__item-date {
  width: 87px;
  height: 87px;
  padding: 13px 30px;
  background-color: var(--mauvang);
  border-radius: 5px;
  position: absolute;
  top: -25%;
  transition: 0.4s;
}

.blog__item-date:hover {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid gray;
}

.blog__item-date>h3,
.blog__item-date>p {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.blog__item-date:hover>h3,
.blog__item-date:hover>p {
  color: var(--mauvang);
}

.card__body>h2 {
  color: #edf7fc;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  margin-bottom: 15px;
}

.card__body>h2:hover {
  color: var(--mauvang);
  cursor: default;
}

.card__body>p {
  color: #fff;
  line-height: 22.4px;
  margin-bottom: 30px;
}

.card__body>.blog__info-link {
  display: block;
}

.blog__info-link>a {
  color: var(--mauvang);
}

.blog__info-link>a:first-child {
  position: relative;
  margin-right: 15px;
  padding-right: 10px;
}

.blog__info-link>a:first-child::before {
  position: absolute;
  content: "|";
  top: 0;
  right: 0;
}

.blog__sidebar--right {
  display: flex;
  flex-flow: column nowrap;
}

.blog__sidebar--right {
  display: grid;
  grid-template-rows: 93px  435px 565px 277px 365px 293px;
  row-gap: 30px;
}

.blog__sidebar--right>.form__search {
  background-color: #fff;
  padding: 30px;
  width: 100%;
}

.form__search>form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 10px;
}

.form__search input {
  outline: none;
  background-color: #ffffff;
  border-color: #f0e9ff;
  border-style: solid none solid solid;
  border-width: 1px 0px 1px 1px;
  color: #999999;
  font-size: 13px;
  font-family: var(--fontJost);
  line-height: 19.5px;
  padding: 6px 12px 6px 20px;
}

input::placeholder {
  color: red;
}

.form__search button {
  outline: none;
  border: 1px solid var(--mauvang);
  border-radius: 5px;
  background-color: #000;
  color: var(--mauvang);
  cursor: pointer;
}

.form__search button:hover {
  background-color: var(--mauvang);
  color: #fff;
}

.blog__sidebar--right>.sidebar__category {
  background-color: #fff;
  padding: 30px;
}

.category__title {
  display: block;
  border-bottom: 1px solid gray;
  margin-bottom: 40px;
}

.category__title h4 {
  font-size: 20px;
  padding: 20px 0px;
  font-weight: 500;
  line-height: 24px;
  display: block;
}

.category__list-item {
  display: flex;
  flex-flow: column nowrap;
}

.category__list-item>a {
  color: #212529;
  padding: 12px 0px;
  line-height: 20px;
  font-size: 14px;
  text-align: left;
  transition: all 0.4s ease 0s;
  border-bottom: 1px solid gray;
}

.category__list-item>a:hover {
  color: var(--mauvang);
}

.sidebar__recent-post {
  background-color: #fff;
  padding: 30px;
}

.recent-post__group {
  display: flex;
  flex-flow: column nowrap;
}

.recent-post__group>div:nth-child(3) h3 {
  font-size: 18px;
}

.recent-post__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.recent-post__item img {
  margin-right: 20px;
}

.recent-post__item h3 {
  font-size: 20px;
  font-style: bold;
  line-height: 24px;
}

.recent-post__item h3:hover {
  color: var(--mauvang);
}

.recent-post__item p {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
}

/* tag clouds */
.sidebar__tag-clouds {
  background-color: #fff;
  padding: 30px;
}

.group__btn a {
  background-color: #ffffff;
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1px;
  color: #e5bf4a;
  display: inline-block;
  font-family: Jost;
  font-size: 13px;
  line-height: 19.5px;
  margin: 0px 3px 8px 0px;
  padding: 4px 20px;
  text-align: left;
  transition: 0.5s;
}

.group__btn a:hover {
  background-color: var(--mauvang);
  color: #fff;
}

/* sidebar__instagram-feeds */
.sidebar__instagram-feeds {
  background-color: #fff;
  padding: 30px;
}

.instagram__img-group {
  display: flex;
  flex-flow: row wrap;
}

.instagram__img-group>img {
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* sidebar__newsletter */
.sidebar__newsletter {
  background-color: #fff;
  padding: 30px;
}

.newsletter__form > input {
  outline: none;
  background-color:#ffffff ;border-color: #f0e9ff ;
  border-style: solid ;
  border-width: 1px ;
  color: #999999 ;
  font-family: Jost ;
  font-size: 13px ;
  line-height: 19.5px ;
  padding: 15px 20px;
  width: 100%;
  margin-bottom: 20px;
}
.newsletter__form > button{
  outline: none;
  border: 1px solid var(--mauvang);
  padding: 20px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.5s ease-in-out 0s;
}
.newsletter__form > button:hover{
  background-color: var(--mauvang);
  color: #fff;
  letter-spacing: 2px;
}

/* FOOTER AREA */
#page > .page__footer{
  grid-area: footer;
  display: grid;
  grid-template-rows: 1fr 1fr 85px;
  max-width: 1140px;
  margin: auto !important;
}
.footer__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 20px;
  margin-bottom: 50px;
  border-bottom: 1px solid #363636;
}
.footer__contact--info{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 20px;
  padding: 20px 0px 50px;
  border-bottom: 1px solid #363636;
}
/* left */
.footer__contact--info > .contact--info-left{
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  row-gap: 10px;
  padding: 10px 20px;
}
.contact--info-left > .contact__des{
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}
.contact--info-left > .contact__social{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}
.contact--info-left > .contact__social > .social__item{
  padding:10px;
  text-align: center;
  border: 2px solid #363636;
  cursor: pointer;
}
.contact--info-left > .contact__social > .social__item:hover{
  border: 2px solid skyblue;
}
.contact__social > .social__item > a{
  color: #fff;
  font-size: 15px;
  line-height: 22.5px;
  transition: all 0.4s ease-in-out 0s;
}
.social__item:hover > a{
  color: #e5df4a;
}
.social__item > a > i{
  margin-right: 8px;
}
/* middle */
.footer__contact--info > .contact--info-middle{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
}
.contact--info-middle > h4{
  color: #e5df4a;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 400;
}
.contact--info-middle > p{
  color: #fff;
}
/* right */
.footer__contact--info > .contact--info-right{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
}
.contact--info-right > h4{
  color: #e5df4a;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 400;
}
.contact--info-right > a{
  color: #fff;
  text-decoration: underline !important;
}
.contact--info-right > p{
  color: #fff;
}
/* footer license */
.footer__license{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}
.footer__license > p >i{
  color: #e5df4a;
}
.footer__license > p >a{
  color: skyblue;
  font-size: 16px;
  line-height: 28.8px;
  font-family: "Poiret One";
}
