/* setting default */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&family=Poiret+One&display=swap");
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
:root{
  --mauvang:#E5BF4A;
  --mauden :#0A0A0A;
  --mauxam: #4c4c4c;
  --fontJost: "Jost", sans-serif;
  --fontPoiret: "Poiret One";
}
html{
  font-family: var(--fontJost);
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  background: var(--mauden);
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--fontPoiret);
}
a{text-decoration: none;}
/* end setting default */
#page{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: auto;
  grid-template-rows: repeat(3,auto);
}
#page > .page__header{
  grid-area: header;
  display: grid;
  grid-template-rows: repeat(2,auto);
}
.page__header > .header__banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 112px;
  padding: 30px 20px 10px;
}
.header__banner > .banner__social-icon{
  display: flex;
  flex-flow: row nowrap;
}
.banner__social-icon > .icon__link{
  padding-right: 20px;
  text-align: left;
  color: #fff;
}
.banner__social-icon > .icon__link > i{
  transition: all 0.4s ease 0s;
}
.banner__social-icon > .icon__link:hover > i{
  transform: rotateY(180deg);
  color: var(--mauvang);
}
.header__banner > .banner__logo{
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  padding-left: 100px;
}
.header__banner > .banner__logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__banner > .banner__info{
  display: flex;
  cursor: pointer;
}
.header__banner > .banner__info > .info__link{
  padding: 12px 24px;
  border: 1px solid var(--mauvang);
  color: var(--mauvang);
  background: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
}
.header__banner > .banner__info > .info__link:hover{
  background: var(--mauvang);
  color: #fff;
  border: 1px solid var(--mauvang);
}
/* header navigation display on PC */
.page__header > .header__nav{
  height: 87px;
}
.header__nav > .header__nav--pc{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__nav--pc > .nav__link {
  padding: 32px 7px;
  font-size: 15px;
  line-height: 22.5px;
  text-transform: uppercase;
  color: #fff;
  margin: 0px 14px !important;
  position: relative;
}
.header__nav--pc > .blog__dropdown {
  position: relative;
}
.header__nav--pc > .nav__link::after,
.header__nav--pc > .blog__dropdown::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0%;
  left: 0%;
  bottom: 20px;
  background-color: var(--mauvang);
  transition: all 0.3s ease-in-out 0s;
}
.header__nav--pc > .nav__link:hover {
  color: var(--mauvang);
}
.header__nav--pc > .nav__link:hover::after,
.header__nav--pc > .blog__dropdown:hover::after {
  width: 100%;
}
.header__nav--pc > .blog__dropdown > button {
  outline: none;
  border: none;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  padding: 32px 7px;
  font-size: 15px;
  line-height: 22.5px;
}
.blog__dropdown > .blog__content {
  background-color: #fff;
  position: absolute;
  min-width: 182px;
  opacity: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out 0s;
}
.blog__dropdown:hover .blog__content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.blog__content > .blog__link {
  display: block;
  padding: 12px 10px;
  color: #000;
  transition: 0.3s;
}
.blog__link:hover {
  color: var(--mauvang);
}
/* END NAVIGATION PC */
/* MAIN EREA */
#page > .page__main{
  grid-area: main; 
}
/* SLIDE SECTION */
.page__main>.slide {
  display: flex;
  height: 700px;
  background: url("/assets/img/icon/slider-banner.webp");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  align-items: center;
}

.slide>.slide__caption {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.slide__caption .slide__title{
  font-size: 70px;
  line-height: 82px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 40px;
}
.slide__caption .slide__btn{
  outline: none;
  color: #000;
  border: 1px solid black;
  background-color: var(--mauvang);
  font-family: var(--fontJost);
  font-size: 15px;
  line-height: 15px;
  padding: 22px 41px;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.4s ease-in-out 0s;
  border-radius: 10px;
}
.slide__caption .slide__btn:hover{
  border: 1px solid var(--mauvang);
  background-color: transparent;
  color: var(--mauvang);
}
/* MAIN CONTAINER GROUP */
.container{
  max-width: 1140px;
  margin-left: auto !important;
  margin-right: auto !important;
}
/* ABOUT SECTION */
.about__section{
  display: flex;
  padding: 50px 0px;
  flex-flow: column nowrap;
}
.about__section > .about__caption{
  display: flex;
  justify-content: center;
}
.about__caption > h2{
  flex: 0 0 auto;
  text-align: center;
  font-weight: 400;
  line-height: 1.3;
  width: 50%;
  margin-bottom: 12px;
  font-size: 40px;
  color: #dfdfdf;
}
.about__section > .about__content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  align-items: center;
}
.about__content > .content__desc{
  padding: 10px;
}
.content__desc > h2{
  color: var(--mauvang);
  font-size: 24px;
  line-height: 31.2px;
}
.content__desc > p{
  color: #fff;
  margin: 20px 0px;
  text-align: justify;
  font-weight: 300;
  line-height: 24px;
}
.about__content > .content__img{
  padding: 10px;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.content__img > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}