/*   FILE : login.css
       @IT Lecturer: Thay Vu Duy Linh
       Craetor : Chau Thai - B2005731, thaib2005731@student.ctu.edu.vn
       @Created : 16 - Nov - 2022  
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
:root{
    --buttonSignin: #ffc98c;
    --bodyBackground:#faf2f0;
    --maunendep: linear-gradient(90deg,#5ebbff,#a174ff);
}
html{
    width: 100%;
    height: 100vh;
}
body{
    background-color: #3a1f0f !important;
    background: url('../img/cake-login.png') no-repeat 50% 100%;
    background-size: cover;

}
#form_wrapper{
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(50%,-50%);
    position: absolute;
    background: linear-gradient(90deg,#5ebbff,#a174ff);;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    border-radius: 30px;
    padding: 25px;
}
@media only screen and (max-width: 600px){
    #form_wrapper{
        width: 70% !important;
        transform: translate(-50%,-50%) !important;
    }
}
@media only screen and ( max-width: 1100px ){
    #form_wrapper {
        width: 350px !important;
        transform: translate(-50%,-50%) !important;
    }
}

#form_wrapper > .title_content,#form_wrapper > .sub_content{
    text-align: center;
    padding: 10px;
}
#form_wrapper > form > .form_group{
    position: relative;
    margin: 20px 0px;

}
#form_wrapper > form > .form_group > input{
    width: 100%;
    /* margin: 10px 0px; */
    padding: 12px 42px;
    font-size: 15px;
    border-radius: 8px;
    outline: none;
    border: none;
    /* outline: 1px solid #d2cfd3; */
    /* transition: 0.3s; */
}
#form_wrapper > form > .form_group > label{
    position: absolute;
    top:25%;
    left: 14%;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}
#form_wrapper > form > .form_group >#eye{
    cursor: pointer;
    float: right;
    position: absolute;
    top: 30%;
    right: 5%;
}
#form_wrapper .form_group  input:focus{
    /* outline: 2px solid rgb(141,136,255);
    box-shadow: 0px 0px 15  px rgba(0,0,0,0.6); */
    border-radius: 10px;
    border: 2px solid #1c2334;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 15%);
}
#form_wrapper .form_group  input:focus + label,
#form_wrapper .form_group  input:valid + label {
    background-color:#ffffff;
    top: -10px;
    padding: 2px 10px;
    font-size: 13px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: rgba(0,0,0,0.7);
}
#form_wrapper > form > .form_group > .icons_group{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%,-50%);
    padding: 12px ;
    border-radius: 5px;
    color: #000000;
}
#form_wrapper > form > p{
    margin: 15px 0px;
}
#form_wrapper > form > .box {
    width: 190px;
    margin: 0px auto;
}
#form_wrapper > form > .box > button{
    display: inline-block;
    padding: 0.8rem 2.5rem;
    border-radius: clamp(1.37rem,1.21rem + 0.8vw,1.78rem);
    border: 2px solid #f586ae;
    background: #1c2334;
    color: #f3eee4;
    cursor: pointer;
    font: inherit;
    text-transform: uppercase;
    font-weight: 900;
    font-size: clamp(1.09rem,1rem + .47vw,1.33rem);
    line-height: 1;
    letter-spacing: .05ch;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 15%);
    font-family: atkinson_hyperlegible,Arial,sans-serif;
    transition: 0.3s;
}
#form_wrapper > form > .box > button:hover,
#form_wrapper > form > .box > button:focus
#form_wrapper > form > .box > button:active{
    /* background-color: #e67e22; */
    /* color: #ffffff; */
    transform: scale(1.3);
}
#form_wrapper > .orther_Signin{
    text-align: center;
    position: relative;
    margin: 15px 0px;
    font-size: 14px;
}
p.orther_Signin::before{
    content:'\f141';
    position: absolute;
    font-family: 'FontAwesome';
    text-decoration: inherit;
    color: #000;
    top: 0;
    left: 95px;
    padding: 2px 4px 0px 0px;
}
p.orther_Signin::after{
    content:'\f141';
    position: absolute;
    font-family: 'FontAwesome';
    text-decoration: inherit;
    color: #000;
    top: 0;
    right: 90px;
    padding: 2px 4px 0px 0px;
}
#form_wrapper >.social_icons{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 34px;
}
 .social_icons > .child_one{
    width: 33.33%;
    background-color: #ccc;
    padding: 8px 0px;
    text-align: center;
    margin-right: 8px;
    border-radius: 10px;
    cursor: pointer;
}
.social_icons > .child_one:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.9);
}
.child_one > i{
    margin-right: 2px;
}
#form_wrapper > p.form_dec{
    text-align: center;
    margin: 30px 0px 10px 0px;
}
.form_dec >a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}